.mcarousel_container {
  display: none;
}

@media (max-width: 768px) {
  .mcategories_container {
    display: block;
    width: 100%;
  }

  .mcategories_header {
    padding: 0 1rem;
    margin-top: 1rem;
  }

  .mcategories_header p {
    font-size: 0.85rem;
  }

  .mcategories_content {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    margin-right: -0.8rem;
  }

  .category_container {
    width: 48%;
    padding: 0.3rem;
  }

  .category_content {
    position: relative;
    background: black;
    border-radius: 5px;
  }

  .category_content img {
    width: 100%;
    border-radius: 5px;
    opacity: 0.5;
  }
  .category_name {
    position: absolute;
    bottom: -6px;
    left: 10px;
  }

  .category_name p {
    color: #fff;
    font-size: 0.9rem;
  }
}
