.account_container {
    padding: 2rem 10rem;
}

.account_content {
  border: 1px solid #c9c9c9;
  border-radius: 12px;
  height: 100vh;
  width: 100%;
  display: flex;
}

.account_nav_container {
   border-right: 1px solid #c9c9c9;
   padding: 2rem;
}

.account_nav_item {
  cursor: pointer;
  padding: 0.6rem 0;
}

.account_address_cards {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.account_address_card {
  border: 1px solid #cecece;
  border-radius: 8px;
  width: 200px;
  height: 150px;
}

.account_address_card_content {
    padding: 1rem;
}

.account_address_card_content h4 {
    color: #222222;
}

.account_address_card_content p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.acount_new_address_card {
   border: 1px solid #cecece;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 150px;
   color: #2666ee;
   font-size: 0.9rem;
   margin-left: 1rem;
   cursor: pointer;
}

.account_address_card_action {
  display: flex;
  margin-top: 1.7rem;
  justify-content: space-between;
  width: 60%;
}

.account_address_card_action p {
  font-weight: 600;
}

.account_address_card_action p:last-child {
 color: rgb(212, 81, 81);
}

.account_address_card_action p:first-child {
    color: #222222;
}