.ft__container {
  background: #2666cc;
  height: 150px;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ft__content {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.ft__icons {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.ft__svg {
  padding: 0 3rem;
  text-align: center;
}

.ft__svg img {
  width: 45px;
}

.ft__svg p {
  color: #fff;
  margin-top: 5px;
}

@media (max-width: 700px) {
  .ft_container {
    padding: 1rem;
  }
  .ft__svg {
    padding: 0 2rem;
    text-align: center;
  }

  .ft__svg p {
    color: #fff;
    margin-top: 5px;
    font-size: 0.8px;
  }
}
