
.hm__content {
  display: flex;
  justify-content: space-between;
  padding: 0 9rem;
}

.hm__aside_left {
  width: 25%;
  padding: 1.5rem 1rem;
  margin-top: -0.3rem;
}

.product__category {
  padding: 0.5rem 0;
  display: flex;
  cursor: pointer;
}

.product__category span {
  padding: 0 5px;
  color: #6e6e6e;
}

.hm__viewall_link {
  margin-top: 0.7rem;
  
}

.hm__viewall_link h4 {
  color: #2666cc;
}

.hm__middle {
  width: 60%;
  padding: 0rem 2rem;
  padding-bottom: 1rem;
   color: #6e6e6e;
   border-right: 1px solid #8a8b8ba1;
   border-left: 1px solid #8a8b8ba1;
}

.hm__search_bar {
  /* position: relative; */
  margin-top: -1.2rem;
  width: 100%;
  display: flex;
}

.search__input {
  border-radius: 5px 0 0 5px;
  background: #e9e9e9;
  padding: 10px 8px;
  border: 1px solid #e9e9e9;
  width: 92%;
}

.search__btn {
  background: #f3d632;
  color: #2666cc;
  width: 8%;
  border: 1px solid #f3d632;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

::placeholder {
  font-family: 'Rubik' sans-serif;
}


.hm__aside_right {
  width: 25%;
  padding: 1rem;
}

.hm__aside_right .bag__title {
  display: flex;
}

.hm__aside_right .bag__title h4 {
  color: #161616;
}

.sadface__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin-top: 0;
  margin-left: 2rem;
}

.bag__body {
 text-align: center;
 margin-left: 2rem;
}

.bag__body p{
  font-size: 0.9rem;
  margin-top: 0.8rem;
}