.hm__content {
  display: flex;
  justify-content: space-between;
  padding: 0 9rem;
}

.hm__aside_left {
  width: 25%;
  padding: 2rem 1rem;
  /* margin-top: -0.3rem; */
}

.hm__aside_left_mhead {
  display: none;
}

.product__category {
  padding: 0 0;
  display: flex;
  cursor: pointer;
}

.product__category span {
  padding: 0 5px;
  color: #6e6e6e;
}

.hm__viewall_link {
  margin-top: 0.7rem;
}

.hm__viewall_link h4 {
  color: #2666cc;
}

.hm__middle {
  width: 60%;

  padding: 2rem 2rem 1rem 2rem;
  color: #6e6e6e;
  margin-top: -1.7rem;
  border-right: 1px solid #8a8b8ba1;
  border-left: 1px solid #8a8b8ba1;
}

.hm__search_flex {
  display: flex;
  justify-content: center;
}

.hm__search_bar {
  /* position: relative; */
  margin-top: -1.2rem;
  width: 40%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.search__input {
  border-radius: 5px 0 0 5px;
  background: #e9e9e9;
  padding: 10px;
  border: 1px solid #e9e9e9;
  width: 92%;
}

.search__btn {
  background: #f3d632;
  color: #2666cc;
  width: 8%;
  border: 1px solid #f3d632;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

::placeholder {
  font-family: "Rubik" sans-serif;
}

.hm__aside_right {
  width: 25%;
  padding: 1.8rem 1rem;
}

.category__count {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background: #2666cc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 5px;
  margin-left: 10px;
  margin-top: 0;
}

.hm__aside_right .bag__title {
  display: flex;
}

.hm__aside_right .bag__title h4 {
  color: #5e5e5e;
}

.sadface__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin-top: 0;
  margin-left: 2rem;
}

.bag__body {
  text-align: center;
  margin-left: 2rem;
}

.bag__body p {
  font-size: 0.9rem;
  margin-top: 0.8rem;
}

@media (max-width: 700px) {
  .hm__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .hm__search_flex {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .hm__search_bar {
    /* position: relative; */
    margin-top: -1.2rem;
    width: 100%;
    display: flex;
  }

  .search__input {
    padding: 7px 10px;
    width: 80%;
  }
  .search__btn {
    width: 12%;
  }

  .hm__middle {
    border: none;
    width: 100%;
    padding: 0;
  }

  .hm__aside_left {
    width: 100%;
    padding: 2rem 0;
  }
  .hm__aside_right {
    display: none;
  }

  .hm__aside_left_desktop {
    display: none;
  }

  .hm__aside_left_mhead {
    display: inline;
  }
}
