.nav__container {
  padding: 1.3rem 5rem;
  border-bottom: 1px solid #8a8b8ba1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.nav_bottom_container {
  display: none;
}

.navbar__left {
  display: flex;
  margin-bottom: 0.4rem;
}

.navbar__left .navbar__address {
  margin-left: 1rem;
}

.navbar__address p {
  line-height: 1.4;
  color: rgb(138, 139, 139);
  font-size: 0.9rem;
}

.navbar__right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.navbar__right span {
  margin-left: 0.8rem;
  font-size: 16px;
  color: #8a8b8b;
}

.navbar__right .order_icon {
  margin-left: 3rem;
}

.navbar__icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7px;
}

@media (max-width: 1024px) {
}

@media (max-width: 700px) {
  .nav__container {
    padding: 1.3rem 1rem;
    border-bottom: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .navbar__right {
    display: none;
  }
  .navbar__left .navbar__address {
    margin-left: 1rem;
    position: relative;
  }

  .navbar__icon {
    height: 60px;
    width: 80px;
    margin-top: 0;
  }

  .nav_bottom_container {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
    display: inline;
    height: 60px;
    border-top: rgb(138, 139, 139);
    background: #fff;
    padding: 0.7rem 2rem;
  }

  .nav_bottom_flex {
    display: flex;
    justify-content: space-between;
  }

  .nav_bottom_item {
    text-align: center;
  }

  .nav_bottom_item small {
    color: #6e6e6e;
  }
}
