.purchase_container {
    padding: 0 10rem;
}

.purchase_content {
    display: flex;
    justify-content: space-between;
}

.purchase_content small {
  color: #6e6e6e;
}

.purchase_order_details {
    display: flex;
    padding: 2rem 0;
}

.purchase_order_st {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: .15rem solid #d4d4d4;
  background: #fff;
  color: #9c9c9c;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-top: -0.3rem;
}


.purchase_account, .purchase_payment, .purchase_address {
display: flex;
} 

.purchase_account h3 {
  padding-bottom: 0.4rem;
}

.purchase_buyer_input {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.purchase_buyer_input label {
  font-size: 0.8rem;
  color: #6e6e6e;
  padding-bottom: 8px; 
}

.purchase_buyer_input input {
  padding: 8px;
  border: 1px solid rgb(189, 191, 196);
  border-radius: 5px;
  width: 70%;
}

.purchase_buyer_input div {
  width: 100%;
}

.purchase_address_flex {
  display: flex;
  padding: 1rem 0;
}

.purchase_items {
    padding: 2rem;
    border-left: 1px solid #afadad;
}

.purchase_items_content {
   display: flex; 
   justify-content: space-between;
}

.purchase_items_content small {
  text-decoration: underline;
}
